/node_modules
/dist
/.next
/.nuxt
sdk/dist/
/out
/.sass-cache
/.cache
/.DS_Store
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/next.config.js
/next.config.local.js
/next.config.development.js
/next.config.test.js
/next.config.production.js
/next.config.server.js
